.menu li {
    padding: 0 18px;
}
.menu li:first-child {
    padding-left: 0px;
}

@media only screen and (max-width: 1400px) {
    .menu li {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1400px) {
    .menu li {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1208px) {
    .menu li{
        padding: 0 10px;
        font-size: 12px;
    }
    .menu li:first-child {
        padding-left: 0px;
    }
}
