.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    
    border-left: 60px solid green;
  }


  .blockTitle::after {
      content: " ";
      width: 0; 
      height: 0; 
      border-top: 21.5px solid transparent;
      border-bottom: 21.5px solid transparent;
      
      border-left: 21.5px solid #dc3545;
  }


  /* mobile screen */
@media only screen and (max-width: 576px) {
    .blockTitle::after {
      content: " ";
      width: 0; 
      height: 0; 
      border-top:  15px solid transparent;
      border-bottom: 15px solid transparent;
      
      border-left: 15px solid #dc3545;
  }
}