@import "~react-image-gallery/styles/css/image-gallery.css";



.image-gallery-svg {
    width: 15px !important;
}



/* @media (max-width: 1199.98px) { 
    .image-gallery-slide{
        width: 100%;
        height: auto;
        max-height: 346px;
        
    }
 } */

.image-gallery-slide{
    width: 100%;
    height: auto;
    max-height: 346px;
    /* overflow: hidden; */
}

.image-gallery-slide img {
    width: 100%;
    height: auto;
    /* max-height: 300px; */
    object-fit: cover;
    /* overflow: hidden; */
    object-position: center center;
}