.carousel-inner {
    width: 600px;
    height: auto;
    /* z-index: 1 !important; */
}

.product-carousel-item {
    width: 100%;
    height: auto;
}

/* mobile */

/* mobile screen */
  @media only screen and (max-width: 576px) {
    .product-carousel-item {
        width: 346px;
        height: auto;
    }
}

.carousel-directional-btn {
    z-index: 2 !important;
}

#productCarousel {
    max-width: 600px;
}

.policy-info {
    position: relative;
}

.policy-info::before {
    content: "";
    position: absolute;
    background-color:  #13938E;
    width: 40%;
    height: 1px;
    margin-top: 4px;
    top: 100%;
    left: 15%;
}

@media only screen and (max-width: 576px) {
    .policy-info::before {
        width: 60%;
    }
}
